:root {
    --colNum: 3;
    --rowNum: 3;
}
.gameBoard {
    display: grid;
    grid-gap: 8px;
    /* grid-template-columns: repeat(3, auto); */
    grid-template-columns: repeat(var(--colNum), auto);
    /* grid-template-rows: repeat(3, 92px); */
    grid-template-rows: repeat(var(--rowNum), 92px);
    /* grid-template-columns: auto auto auto;
    grid-template-rows: 92px 92px 92px; */
    /* grid-template-rows: 110px 110px 110px; */
    /* grid-template-rows: 5fr 2fr auto; */
}

.grid-item {
    display: grid;
    text-align: center;
    font-size: larger;
    border: 2px solid;
    /* align-self: center; */
    align-content: center;
    /* align-items: center; */
}

.gameDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: honeydew;
}

.scores{
    display: flex;
    justify-content: space-around;
}

.active {
    border-color: goldenrod;
    background-color: gainsboro;
    border-radius: 4px;
    color: darkturquoise;
}

.announceWinner {
    margin: 20px;
}

.announcement {
    padding: 20px;
    color: rgb(26, 49, 49);
}

.item {
    /* display: flex; */
    border: .9px dotted;
    padding: 29px;
    font-weight: bolder;
    font-size: larger;   
}